.table__text{
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
}
.table__text:nth-of-type(2) {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 20px;
}