.khan__buy-link {
  font-size      : 30px;
  line-height    : 42px;
  font-style     : normal;
  color          : #2F80ED;
  margin         : 0;
  text-decoration: none;
  transition     : .5s;
}

.khan__buy-link:hover {
  opacity: .5;
}